 <header>
    <div class="header-left">
        <div class="header-logo"><a href="/home">Logo Here</a></div>
        <div class="search-content">
            <form action="/searchcontent" method="post">
                Search the posts:
                <input type="text" name="key">
                <input class="search-submit" type="submit" value="GO">
            </form>
        </div>
    </div>
    <div class="header-right">
        <a href="/home">Home</a>
        <a href="/logout">Logout</a>
    </div>
</header>