<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:500|Roboto&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
        <title>Knowledge Base</title>
        <link href='/css/main.css' rel='stylesheet' />
		{{#if loginCSS}}
            <link href='/css/login.css' rel='stylesheet' />
        {{/if}}

        {{#if homeCSS}}
            <link href='/css/home.css' rel='stylesheet' />
        {{/if}}


	</head>
    <body>
        {{{ body }}} 
    </body>
</html>