<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        
        <!-- loaded this jquery library for bootstrap only, no jquery used in the project -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:500|Roboto&display=swap" rel="stylesheet">
        
        <script src="/js/comments.js"></script>
        
        <title>Knowledge Base</title>

		{{#if loginCSS}}
            <link href='/css/login.css' rel='stylesheet' />
        {{/if}}

        {{#if homeCSS}}
            <link href='/css/home.css' rel='stylesheet' />
        {{/if}}

        {{#if searchCSS}}
            <link href='/css/search.css' rel='stylesheet' />
        {{/if}}

        {{#if profileCSS}}
            <link href='/css/profile.css' rel='stylesheet' />
        {{/if}}

        {{#if messageCSS}}
            <link href='/css/message.css' rel='stylesheet' />
        {{/if}}

	</head>
    <body>
        {{{ body }}} 
    </body>
</html>