<div class="about">
    <div class="about-logo">
        <div class="main-logo"><h1>knowledgeBase</h1></div>
        <p>let us know a little more bout you</p>
    </div>
    <div class="about-form">
        <form action="register" method="POST">
            <input type="text" name="image" placeholder="imageurl"  autocomplete="off" required>
            <input type="textarea" name="about" placeholder="A few lines about yourself"  autocomplete="off" required>
            <input type="text" name="country" placeholder="Country" autocomplete="off" required>
            <input type="text" name="dob" placeholder="Date Of Birth(mm/dd/yyyy)" required>
            <input type="submit" value="Complete Register" >	
        </form>
    </div>
</div>