<script src="/js/register.js"></script>
<div class="parent">
<div class = "flex-container">
    <div class="logo-section">
    	<div class="main-logo"><h1><span id="knowledge">knowledge</span><span id="base">Base</span></h1></div>
    	<br>
    	<img src="/img/vector-knowledge.jpg" alt="logo">
    </div>
    <div class="form-section">
    	<div class="login-form">
    		<h1 id="loginSlogan">Login to your knowledgeBase</h1>
    		<form action="auth" method="POST">
    			<input type="text" name="email" placeholder="Email" autocomplete="off"required>
    			<input type="password" name="password" placeholder="Password" autocomplete="off"required>
    			<input type="submit" value="login">
    		</form>
    		<div>{{InvalideLogin}}</div>
    	</div>
    	<div class="register-form">
    		<h1 id="slogan">Join the worlds largest community for knowledge sharing</h1>
    		<form name="register" action="about" method="POST" onsubmit="return validatePasswordInput()">
    			<input type="text" name="fname" placeholder="First Name" class="register-name" autocomplete="off" required>
    			<input type="text" name="lname" placeholder="Last Name" class="register-name" autocomplete="off" required>
    			<input type="email" name="email" placeholder="Email" autocomplete="off" required>
    			<input type="password" name="password" placeholder="Login Password" required>
    			<input type="password" name="confirmPassword" placeholder="Confirm Password" required>	
    			<input type="submit" value="signup" >		
    		</form>
    	</div>
    </div>
</div>
</div>
