<div class="logo-section">
	<div class="main-logo"><h1>knowledgeBase</h1></div>
	<img src="/img/vector-knowledge.jpg" alt="logo">
</div>
<div class="form-section">
	<div class="login-form">
		<h1>Login To Your KnowledgeBase</h1>
		<form action="auth" method="POST">
			<input type="text" name="email" placeholder="Email" autocomplete="off"required>
			<input type="password" name="password" placeholder="Password" autocomplete="off"required>
			<input type="submit" value="Login">
		</form>
		<div>{{InvalideLogin}}</div>
	</div>
	<div class="register-form">
		<h1>Join the worlds largest community for knowledge sharing</h1>
		<form action="registerDetail" method="POST">
			<input type="text" name="fname" placeholder="First Name" class="register-name" autocomplete="off" required>
			<input type="text" name="lname" placeholder="Last Name" class="register-name" autocomplete="off" required>
			<input type="email" name="email" placeholder="Email" autocomplete="off" required>
			<input type="password" name="password" placeholder="Login Password" required>
			<input type="password" name="confirm-password" placeholder="Confirm Password" required>	
			<input type="submit" value="Register">		
		</form>
	</div>
</div>
