#home {
    background: white;
}

#home-content {
    width: 80%;
    margin: auto;
    background: white;
}

.profile-img {
    margin-top: 30px;
    text-align: center;
}

#userProfilePic{
    max-width: 300px;
    max-height: 300px;
    border-radius:50%;
}

#profileName {
    font-size:30px;
    text-align:center;
}

#profileDesc {
    font-size: 20px;
    color:grey;
    text-align:center;
    margin-bottom: 25px;
}


#secondCol {
    padding-left:60px;
}


input[type="submit"] {
    margin-top:11px;
    width: 50%;
    vertical-align: middle;
    background-color: #1E90FF;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-radius: 4px;
}


input {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}

#textbox {
    width:100%;
    padding: 15px;
    border: 1px solid #dddddd;
}

select {
    width: 40%;
    box-sizing: border-box;
    padding: 15px;
    font-weight: bold;
    height: 49px;
    margin-left:10px;
}

.search-topic {
    color:grey;
    margin-bottom: 35px;
    height: 100px;
    padding-top: 20px;
}

.search-submit {
    width: 50px !important;
}

#topicTitle {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
}

#questionTitle {
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    color:grey;
}

/* Temprory stores header css here, might need to seperate later */

#navbar {
    background-color: #DCDCDC;
}

#headerLogo{
    margin-top:13px;
}

#k {
    font-family: 'Noto Sans JP', sans-serif;
    font-size:50px;
}

#b {
    font-family: 'Noto Sans JP', sans-serif;
    font-size:50px;
    color: #00BFFF;
}

#searchBar{
    margin-top:15px;
    width:500px;
    font-style:italic;
}

#searchBarBtn{
    background-color: #1E90FF;
    color: white;
}

#links{
    margin-top:13px;
}



/* Temprory stores postcard css here, might need to seperate later */

/* .postcard-body {
    float:right;
} */

#posterIMG {
    max-width: 80px;
    max-height: 80px;
}

[type="image/png"] {
    max-width: 80px;
    max-height: 80px;
    border-radius:50%;
}

.postcard-image {
    float: left;
    margin-right:30px;
}



/* edit profile */

#profileTitle {
    color:grey;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:30px;
    padding:30px;
}

#profileBtn {
    background-color: #1E90FF;
    color:white;
    font-family: 'Noto Sans JP', sans-serif;
    padding:10px;
}

#updateForm {
    padding-left:80px;
    padding-right:80px;
}



/* replies */


.reply {
    color:grey;
    display:flex;
    padding:15px;
}

.replyIMG {
    max-width: 80px;
    max-height: 80px;
    border-radius:50%;
}

.replyMSG {
    padding-left:25px;
}

.replyBTN {
    margin-top:11px;
    width: 50%;
    vertical-align: middle;
    background-color: #1E90FF;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-radius: 4px;
    padding:10px;
    margin-bottom:30px;
}


#reply-2,
#reply-3,
#reply-4,
#page,
#postNum {
    display: none;
}


#prevPaginate {
    margin-top:20px;
    width: 50%;
    vertical-align: middle;
    background-color: #ffffff;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #1E90FF;
    border-radius: 4px;
    padding:10px;
    margin-bottom:30px;
    width:100px;
    border: 2px solid #1E90FF;
    position: fixed;
    bottom:0;
    right:2;
}

#nextPaginate {
    margin-right:50px;
    margin-top:20px;
    width: 50%;
    vertical-align: middle;
    background-color: #ffffff;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #1E90FF;
    border-radius: 4px;
    padding:10px;
    margin-bottom:30px;
    width:100px;
    border: 2px solid #1E90FF;
    position: fixed;
    bottom:0;
    right:0;
}
