/*message*/

#messageRow {
    margin-right:200px;
    margin-left:200px;
    margin-top:20px;
}

#rightCol, #leftCol {
    text-align: center;
}


#messageBTN{
    margin-top:11px;
    vertical-align: middle;
    background-color: #1E90FF;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-radius: 4px;
    padding:10px;
}

#msgSubject, #msgDetails {
    margin:10px;
    padding-left:5px;
    width:250px;
}


[type="image/png"] {
    max-width: 80px;
    max-height: 80px;
    border-radius:50%;
}

.conversation {
    width: 30%;
    float: left;
}

.message-section {
    width: 70%;
    float: right;
    background-color: grey;
    height: 500px;
}

.message-section {
    overflow: scroll;
    overflow-x:hidden;
}
