/* profile */

#profileColumns{
    margin-top:30px;
    max-width:1200px;
}

#columnLeft{
    padding-left:30px;
}

.userInfo{
    margin-top:25px;
}

#profilePic{
    max-width: 300px;
    max-height: 300px;
    border-radius:50%;

}

#profileName{
    font-size: 30px;
}

#profileAbout{
    font-size: 20px;
}


#columnRight{
    margin-top:150px;
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    color:#1E90FF;
}

#messageBTN{
    margin-top:11px;
    width: 50%;
    vertical-align: middle;
    background-color: #1E90FF;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-radius: 4px;
    padding:10px;
    margin-bottom:30px;
}



#allPostsTitle{
    max-width:700px;
    margin-left:30px;
    margin-bottom:40px;
    margin-top:80px;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
}

[type="image/png"] {
    max-width: 80px;
    max-height: 80px;
    border-radius:50%;
}


#postsByUser{
    margin:30px;
    padding-left:150px;
    padding-right:150px;
}