/*posts*/

.post-list {
    padding-top:25px;
    padding-left:200px;
    padding-right:200px;

}

.error{
    padding-top:25px;
    padding-left:200px;
    padding-right:200px;
}


[type="image/png"] {
    max-width: 80px;
    max-height: 80px;
    border-radius:50%;
}

#searchTitle {
    color:grey;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:30px;
    padding:30px;
}


/* replies */


.reply {
    color:grey;
    display:flex;
    padding:15px;
}

.replyIMG {
    max-width: 80px;
    max-height: 80px;
    border-radius:50%;
}

.replyMSG {
    padding-left:25px;
}
